h1 {
    color:red;
    font-weight: bold;
}
img{
    height:400px;
    width:400px;
}

#e37c00f5-ff96-45aa-87ea-1a24b78ba7bd{
    height: 400px;
    width: 400px;
    margin : 10% auto;
    display:block;
}